###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

# Ignore macOS specific files
.DS_Store

# Ignore Prettier configuration and ignore files
.prettierignore
.prettierrc.json

# Ignore Visual Studio Code specific settings
.vscode/

# Ignore Node.js dependencies, except node_modules/
/node_modules/*
!/node_modules/

# Ignore Yarn specific lock file
!yarn.lock
